/* Cosmetic changes */

.cms-sitename a {
    color: #fff;
    display: block;
    margin: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* More compact dropdown */

.cms .cms-menu .cms-subsites {
    padding: 0;
}

.cms .cms-menu .cms-subsites .field.dropdown {
    margin: 0;
}

.cms-subsites .field .chosen-container-single .chosen-single {
    border-radius: 0;
}

/* Icons in menu */

.menu__icon.fa {
    font-size: 17px !important
}

.menu__icon {
    width: 22px;
    left: 10px;
    margin-top:0;
    text-align: center;
}

.menu__icon.icon-16 {
    left: 14px;
}

/* Row classes */

.cms table.ss-gridfield-table tr.green.odd {
    background-color: #daf2da;
}

.cms table.ss-gridfield-table tr.green.even {
    background-color: #c2f2c1;
}

.cms table.ss-gridfield-table tr.blue.odd {
    background-color: #d9edf7;
}

.cms table.ss-gridfield-table tr.blue.even {
    background-color: #bce8f1;
}

.cms table.ss-gridfield-table tr.amber.odd {
    background-color: #faebcc;
}

.cms table.ss-gridfield-table tr.amber.even {
    background-color: #fcf8e3;
}

.cms table.ss-gridfield-table tr.red.odd {
    background-color: #f2dede;
}

.cms table.ss-gridfield-table tr.red.even {
    background-color: #ebccd1;
}

/* Image gallery */

.grid-field.gridfield-gallery thead .col-LargeAssetThumbnail {
    display: none;
}

.grid-field.gridfield-gallery tbody {
    background: none;
}

.grid-field.gridfield-gallery tbody tr {
    display: inline-block;
    width: 380px;
    background: #fff;
}

.grid-field.gridfield-gallery tbody tr:hover {
    background: #f0f4f7;
}

.grid-field.gridfield-gallery tbody tr td {
    display: block;
}

.grid-field.gridfield-gallery tbody tr td.col-Name {
    border: 0;
    padding-bottom: 0;
}

.grid-field.gridfield-gallery tbody tr td.grid-field__col-compact {
    border: 0;
    position: relative;
    display: block;
    width: 380px;
}

.grid-field.gridfield-gallery tbody tr td.grid-field__col-compact .gridfield-button-delete {
    position: absolute;
    right: 1.2308rem;
    display: inline-block;
}

.grid-field.gridfield-gallery tbody tr:first-child td {
    border-top: 0;
}

.grid-field.gridfield-gallery tbody tr.ss-gridfield-no-items {
    display: table-row;
    width: 100%;
}

.grid-field.gridfield-gallery tbody tr.ss-gridfield-no-items td {
    display: table-cell;
}

/* Actions */

#Form_ItemEditForm_action_doDelete {
    position: absolute;
    right: 1.5385rem;
}

.cms-content-header-utils {
    padding-right: 1.5385rem;
}

.btn-toolbar .bb-align {
    display: inline-block;
    line-height: 32px;
    padding-left: 1.5385rem;
    padding-right: 1.5385rem;
}

label.btn {
    margin-bottom: 0;
}

table .btn-link {
    padding: 0;
    margin: 0;
}

/* UI fixes */

/* Looks broken otherwise */

.cms .grid-field .add-existing-autocompleter button.action_gridfield_relationadd span {
    float: none;
}

/* select height can be weirdly inconsistent
   size=1 select have no height, some select have a bigger height, chosen has 36px .. */

.cms .field select,
.field .chosen-container-single .chosen-single {
    height: 35px;
}

/* the margin top prevents label alignment and looks strange */

.form__fieldgroup>.form__fieldgroup-item {
    margin-top: 0;
}

/* grid field without a footer have no margin bottom */

fieldset.grid-field {
    margin-bottom: 1.2308rem;
}

/* pagination looks awful in thead */

.grid-field thead .grid-field__title-row th {
    position: relative;
}

.grid-field thead .pagination-records-number {
    position: absolute;
    top: .9231rem;
    right: 1.5385rem;
}

/* large table can extend the screen width */

.cms .grid-field__table tr th.main>span {
    white-space: normal;
}

/* ag grid */

.ag-cell-edit-input {
    height: 100% !important;
    border: 0 !important;
    padding: 0 11px !important;
    border-radius: 0 !important;
}

select.ag-cell-edit-input {
    padding: 0 0 !important;
}

/* bulk */

.col-bulkSelect,
.bulkManagerOptions th {
    position: relative;
}

#bulkActionName_Holder {
    margin-bottom: 0;
}

.bulkManagerOptions th:last-child {
    padding-top: 0;
    vertical-align: middle;
}

.bulkManagerOptions .form-check-input {
    position: relative;
    display: inline-block;
    margin-right: 0;
}
