.pure-modal .checkbox {
    display: none;
}

/* Gray background */

.pure-modal .pure-modal-overlay {
    opacity: 0;
    transition: all 0.3s ease;
    width: 50%;
    position: absolute;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
    transform: scale(1);
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
}

/* Box */

.pure-modal .pure-modal-wrap {
    background-color: #f7f8fa;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    padding: 3.077rem 1.5385rem;
    width: 60%;
    margin: 1.5385rem auto;
    align-self: flex-start;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.pure-modal .pure-modal-wrap.small {
    width: 30%;
}

.pure-modal .pure-modal-wrap.full {
    width: 100%;
    height: 100%;
}

.pure-modal .pure-modal-wrap.a-center {
    align-self: center;
}

.pure-modal .pure-modal-wrap.from-left {
    transform: translateX(-100%);
}

.pure-modal .pure-modal-wrap.from-right {
    transform: translateX(100%);
}

.pure-modal .pure-modal-wrap.from-top {
    transform: translateY(-100%);
}

.pure-modal .pure-modal-wrap.from-bottom {
    transform: translateY(100%);
}

/* Close button */

.pure-modal .pure-modal-overlay .close {
    position: absolute;
    right: 1.5385rem;
    top: 1.5385rem;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    display: inline-block;
    color: rgba(0, 0, 0, 0.7);
}

.pure-modal .pure-modal-overlay .close:hover {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.9);
}

.pure-modal .o-close {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -100;
}

.pure-modal input:checked~.o-close {
    z-index: 9998;
}

.pure-modal input:checked~.pure-modal-overlay {
    transform: scale(1);
    opacity: 1;
    z-index: 9997;
    overflow: auto;
    display: flex;
    animation-duration: 0.3s;
    animation-name: fade-in;
    -moz-animation-duration: 0.3s;
    -moz-animation-name: fade-in;
    -webkit-animation-duration: 0.3s;
    -webkit-animation-name: fade-in;
}

.pure-modal input:checked~.pure-modal-overlay .pure-modal-wrap {
    transform: translateY(0);
    z-index: 9999;
}

/* Responsive Design */

/* Tablet size */

@media (max-width: 800px) {
    .pure-modal .pure-modal-wrap {
        width: 80%;
        padding: 16px;
    }
}

/* Phone size */

@media (max-width: 500px) {
    .pure-modal .pure-modal-wrap {
        width: 90%;
    }
}

/* Fadein from display:none */

@keyframes fade-in {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: flex;
        opacity: 0;
    }
    100% {
        display: flex;
        opacity: 1;
    }
}

@-moz-keyframes fade-in {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: flex;
        opacity: 0;
    }
    100% {
        display: flex;
        opacity: 1;
    }
}

@-webkit-keyframes fade-in {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: flex;
        opacity: 0;
    }
    100% {
        display: flex;
        opacity: 1;
    }
}
