@mixin aspect-ratio($width, $height) {
    position: relative;

    &:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: ($height / $width) * 100%;
    }

    >.content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

/* Prevents img without src to appear */
img:not([src]) {
    visibility: hidden;
}

/* Edge */
img[data-src],
img[data-srcset] {
    display: block;
    min-height: 1px;
}

.lazyload-wrapper {
    width: 100%;
    height: 0;
    padding-bottom: 66.67%;
    /* You define this doing height / width * 100% */
    position: relative;

    img {
        width: 100%;
        /*height: auto;*/
        position: absolute;
    }
}
