/* @disallowFonts */

// Typical import path ../../../base/sass/

@import "variables";
@import "typography";

//
// This is a sample file to get your started for your -theme file
//
// Global variables can be defined outside of an element in a :root pseudo-class:
// You can use sass variable to set defaults, although if you use colors it is
// best to define them in your SiteConfig
:root {
    --primary-color: #{$primary};
    --secondary-color: #{$secondary};
    --body-font-family: #{$font-family-base};
    --body-font-weight: #{$font-weight-base};
    --header-font-family: #{$headings-font-family};
    --header-font-weight: #{$headings-font-weight};
}

// If you allow fonts, uncomment this

// body {
//     font-family: var(--body-font-family);
//     font-weight: var(--body-font-weight);
// }

// h1, h2, h3, h4, h5, h6 {
//     font-family: var(--header-font-family);
//     font-weight: var(--header-font-weight);
// }

.text-primary {
    color: var(--primary-color);
}

.text-secondary {
    color: var(--secondary-color);
}

.bg-primary {
    background: var(--primary-color);
    color: var(--primary-color-contrast);
}

.bg-secondary {
    background: var(--secondary-color);
    color: var(--secondary-color-contrast);
}

a {
    color: var(--primary-color);

    &:hover {
        color: var(--primary-color-highlight);
    }
}


// This adds custom theming for bootstrap 4 using css vars (no need to recompile the whole thing!)
@import "bootstrap-extras/theme";
// Other custom styles components
@import "silverstripe/theme";
