@import "variables";
@import "vendor/bootstrap/functions";
@import "vendor/bootstrap/variables";
@import "vendor/bootstrap/mixins";
@import "vendor/bootstrap/root";
@import "vendor/bootstrap/reboot";
@import "vendor/bootstrap/type";

// @link https://docs.silverstripe.org/en/4/developer_guides/customising_the_admin_interface/typography/
// In SS4, typography is not needed anymore for the website
// But it is used in the admin on the tinymce areas
body {
    font-family: $font-family-base;
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $headings-font-family;
}

.text-primary {
    color: $primary;
}

.text-secondary {
    color: $secondary;
}
