// Colors //
// @link http://chir.ag/projects/name-that-color/

// fonts //
// @link https://www.cssfontstack.com/
$header-font: Arial, "Helvetica Neue", Helvetica, sans-serif !default;
$body-font: Arial, "Helvetica Neue", Helvetica, sans-serif !default;
// animate //
$use-fadeIn: true;
// elegant-icons //
$ei-generate-classes: true !default;
$ei-use-local-fonts: true !default;
$ei-font-path-local: '/resources/base/fonts/elegant-icons/' !default;
