// Colors //
// @link http://chir.ag/projects/name-that-color
$social-brands-colors : (facebook: #3b5998,
twitter: #66b5e6,
linkedin: #0077b5,
googleplus: #dd4b39,
youtube: #ff0000,
vimeo: #1ab7ea,
instagram: #405de6,
pinterest: #bd081c,
);
// animate //
$use-fadeIn: true;
// elegant-icons //
$ei-generate-classes: true !default;
$ei-use-local-fonts: true !default;
$ei-font-path-local: '/resources/base/fonts/elegant-icons/' !default;
