.SocialShare {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        float: left;
        margin: 0;
        padding: 0;
        margin-right: 1em;
    }

    a {
        background: #000;
        color: #fff;
        border-radius: 24px;
        display: block;
        width: 24px;
        height: 24px;
        text-align: center;
        line-height: 24px;
        font-size: 12px;

        &:hover {
            background: #333;
            text-decoration: none;
        }
    }
}

.SocialShareSvg {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        float: left;
        margin: 0;
        padding: 0;
        margin-right: 1em;

        a {
            display: block;
            width: 24px;
            height: 24px;

            &:hover {
                opacity: 0.8;
            }
        }
    }
}
