.alertify-notifier {
    .ajs-message {
        box-shadow: $box-shadow;

        &.ajs-success {
            @include alert-variant(color-level($success, $alert-bg-level), color-level($success, $alert-border-level), color-level($success, $alert-color-level));
            text-shadow: none;
        }

        &.ajs-error {
            @include alert-variant(color-level($danger, $alert-bg-level), color-level($danger, $alert-border-level), color-level($danger, $alert-color-level));
            text-shadow: none;
        }

        &.ajs-warning {
            @include alert-variant(color-level($warning, $alert-bg-level), color-level($warning, $alert-border-level), color-level($warning, $alert-color-level));
        }
    }
}
